<div class="loading" *ngIf="loading">
  <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
</div>

<app-generic-page
  *ngIf="!loading"
  [title]="'Clientes'"
  [data]="buyers"
  [tableHeaders]="buyerTableHeaders"
  [tableBody]="buyerTableBody"
  [dialogHeader]="'Novo Fornecedor'"
  [dialogContent]="buyerDialogContent"
  [dialogFooter]="buyerDialogFooter"
  [isDialogVisible]="isDialogVisible"
></app-generic-page>

<ng-template #buyerTableHeaders>
  <tr>
    <th>Id</th>
    <th>Nome</th>
  </tr>
</ng-template>

<ng-template #buyerTableBody let-buyer>
  <tr>
    <td>{{ buyer.id }}</td>
    <td>{{ buyer.name }}</td>
  </tr>
</ng-template>

<ng-template #buyerDialogContent>
  <div class="form-group">
    <label for="username" class="form-label">Nome</label>
    <input
      pInputText
      id="username"
      class="form-input"
      autocomplete="off"
      [(ngModel)]="nameClient"
    />
  </div>
</ng-template>

<ng-template #buyerDialogFooter>
  <p-button label="Cancel" [text]="true" severity="secondary" (click)="isDialogVisible = false" />
  <p-button label="Save" [outlined]="true" severity="secondary" (click)="createBuyer()" [disabled]="false" />
</ng-template>

<p-toast></p-toast>