<app-generic-page
  [title]="'Clientes'"
  [data]="buyers"
  [tableHeaders]="buyerTableHeaders"
  [tableBody]="buyerTableBody"
  [dialogHeader]="'Novo Fornecedor'"
  [dialogContent]="buyerDialogContent"
  [dialogFooter]="buyerDialogFooter"
></app-generic-page>

<ng-template #buyerTableHeaders>
  <tr>
    <th>Id</th>
    <th>Nome</th>
  </tr>
</ng-template>

<ng-template #buyerTableBody let-buyer>
  <tr>
    <td>{{ buyer.id }}</td>
    <td>{{ buyer.name }}</td>
  </tr>
</ng-template>

<ng-template #buyerDialogContent>
  <div class="form-group">
    <label for="username" class="form-label">Nome</label>
    <input
      pInputText
      id="username"
      class="form-input"
      autocomplete="off"
      [(ngModel)]="nameClient"
    />
  </div>
</ng-template>

<ng-template #buyerDialogFooter>
  <p-button label="Cancel" [text]="true" severity="secondary" (click)="isDialogVisible = false" />
  <p-button label="Save" [outlined]="true" severity="secondary" (click)="isDialogVisible = false" [disabled]="false" />
</ng-template>
