@import "primeicons/primeicons.css";

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.column {
  display: flex;
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.gap {
  margin-bottom: 5px;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
}
