<div class="loading" *ngIf="loading">
  <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
</div>

<app-generic-page
  *ngIf="!loading"
  [title]="'Fornecedores'"
  [data]="suppliers"
  [tableHeaders]="supplierTableHeaders"
  [tableBody]="supplierTableBody"
  [dialogHeader]="'Novo Fornecedor'"
  [dialogContent]="supplierDialogContent"
  [dialogFooter]="supplierDialogFooter"
></app-generic-page>

<ng-template #supplierTableHeaders>
  <tr>
    <th>Id</th>
    <th>Nome</th>
  </tr>
</ng-template>

<ng-template #supplierTableBody let-supplier>
  <tr>
    <td>{{ supplier.id }}</td>
    <td>{{ supplier.name }}</td>
  </tr>
</ng-template>

<ng-template #supplierDialogContent>
  <div class="form-group">
    <label for="username" class="form-label">Nome</label>
    <input
      pInputText
      id="username"
      class="form-input"
      autocomplete="off"
      [(ngModel)]="nameSupplier"
    />
  </div>
</ng-template>

<ng-template #supplierDialogFooter>
  <p-button label="Cancel" [text]="true" severity="secondary" (click)="isDialogVisible = false" />
  <p-button label="Save" [outlined]="true" severity="secondary" (click)="createSupplier()" [disabled]="false" />
</ng-template>
